<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">MyCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/addcarDetails">AddData <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/getallcars">CarDetails<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/updateCarDetails/:id">Update Details<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit">LOGOUT</button>


        </form>
    </div>
</nav>

<!-- <form #updateForm="ngForm" (ngSubmit)="updatecarDetails(updateForm)">
    <table>
        <tr>
            <label>CarNAME:</label>
            <input type="text" id="name" ngModel [(ngModel)]="selectedCarDetails.name" name="name" #name="ngModel" >
        </tr>
        <tr>
            <label>Car CompanyName:</label>
            <input type="text" id="companyName"  ngModel [(ngModel)]="selectedCarDetails.companyName"  name="companyName" #companyName="ngModel">
        </tr>
        <tr>
            <label>car FuelType:</label>
            <input type="text" id="fuelType" ngModel [(ngModel)]="selectedCarDetails.fuelType" name="fuelType" #fuelType="ngModel">
        </tr>
        <tr>
            <label>Car PowerSteering:</label>
            <input type="text" id="powerSteering" ngModel  [(ngModel)]="selectedCarDetails.powerSteering" name="powerSteering" #powerSteering="ngModel">
        </tr>
        <tr>
            <label>Car ShowRoomPrice:</label>
            <input type="number" id="showroomPrice" ngModel  [(ngModel)]="selectedCarDetails.showroomPrice" name="showroomPrice" #showroomPrice="ngModel">
        </tr>
        <tr>
            <label>Car onRoadPrice:</label>
            <input type="number" id="onRoadPrice" ngModel  [(ngModel)]="selectedCarDetails.onRoadPrice" name="onRoadPrice" #onRoadPrice="ngModel">
        </tr>
        <tr>
            <label>Car imageUrl:</label>
            <input type="text" id="imageUrl"   href="#"   ngModel  [(ngModel)]="selectedCarDetails.imageUrl" name="imageUrl" #imageUrl="ngModel">
        </tr>
        <tr>
            <label>Car mileage:</label>
            <input type="text" id="mileage" ngModel  [(ngModel)]="selectedCarDetails.mileage" name="mileage" #mileage="ngModel">
        </tr>
        <tr>
            <label>Car seatingCapacity:</label>
            <input type="number" id="seatingCapacity" ngModel  [(ngModel)]="selectedCarDetails.seatingCapacity" name="seatingCapacity" #seatingCapacity="ngModel">
        </tr>
        <tr>
            <label>Car engineCapacity:</label>
            <input type="number" id="engineCapacity" ngModel  [(ngModel)]="selectedCarDetails.engineCapacity" name="engineCapacity" #engineCapacity="ngModel">
        </tr>
        <tr>
            <label>Car gearType:</label>
            <input type="text" id="gearType" ngModel  [(ngModel)]="selectedCarDetails.gearType" name="gearType" #gearType="ngModel">
        </tr>
        <tr>
            <label>Car breakingSystem:</label>
            <input type="text" id="breakSystem" ngModel  [(ngModel)]="selectedCarDetails.breakSystem" name="breakSystem" #breakSystem="ngModel">
        </tr>


    </table>
    <button type="submit">update</button>
    
</form> -->

<!-- <form #updateForm="ngForm" (ngSubmit)="updatecarDetails(updateForm)"> -->
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1>UPDATE CAR DETAILS</h1>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form id="contact-form" role="form" #updateForm="ngForm" (ngSubmit)="updatecarDetails(updateForm)">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Car Name </label>
                                                <input type="text" id="name" ngModel
                                                    [(ngModel)]="selectedCarDetails.name" name="name" #name="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">Company Name</label>
                                                <input type="text" id="companyName" ngModel
                                                    [(ngModel)]="selectedCarDetails.companyName" name="companyName"
                                                    #companyName="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">FuelType </label><br>
                                                <input type="text" id="fuelType" ngModel
                                                    [(ngModel)]="selectedCarDetails.fuelType" name="fuelType"
                                                    #fuelType="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">powerSteering</label>
                                                <input type="text" id="powerSteering" ngModel
                                                    [(ngModel)]="selectedCarDetails.powerSteering" name="powerSteering"
                                                    #powerSteering="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">BrakeSystem </label>
                                                <input type="text" id="breakSystem" ngModel
                                                    [(ngModel)]="selectedCarDetails.breakSystem" name="breakSystem"
                                                    #breakSystem="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">showroom Price</label> <input
                                                    type="number" id="showroomPrice" ngModel
                                                    [(ngModel)]="selectedCarDetails.showroomPrice" name="showroomPrice"
                                                    #showroomPrice="ngModel"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">onRoadPrice </label>
                                                <input type="number" id="onRoadPrice" ngModel
                                                    [(ngModel)]="selectedCarDetails.onRoadPrice" name="onRoadPrice"
                                                    #onRoadPrice="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">imageUrl</label> <input type="text"
                                                    id="imageUrl" href="#" ngModel
                                                    [(ngModel)]="selectedCarDetails.imageUrl" name="imageUrl"
                                                    #imageUrl="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">mileage </label><br>
                                                <input type="text" id="mileage" ngModel
                                                    [(ngModel)]="selectedCarDetails.mileage" name="mileage"
                                                    #mileage="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">seatingCapacity</label> <input
                                                    type="number" id="seatingCapacity" ngModel
                                                    [(ngModel)]="selectedCarDetails.seatingCapacity"
                                                    name="seatingCapacity" #seatingCapacity="ngModel"> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">engineCapacity </label>
                                                <input type="number" id="engineCapacity" ngModel
                                                    [(ngModel)]="selectedCarDetails.engineCapacity"
                                                    name="engineCapacity" #engineCapacity="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="">gearType</label> <input type="text"
                                                    id="gearType" ngModel [(ngModel)]="selectedCarDetails.gearType"
                                                    name="gearType" #gearType="ngModel">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send pt-2 btn-block "
                                            value="Update Details">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>